@media screen and (min-width: 700px) {
     /* nav {
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 100%;
    } */
    .navigation {
        display: flex;
        flex-direction: row;

    }
    .navigation li {
        display: block;
        justify-content: center;
        flex: 1 1 100%;
    }
    #menu {
        display: none;
    }
   
    header {
        font-size: 1rem;
    }
    /* reservations */

    form label, input, label select, label textarea {
        max-width: 18rem;
    }
    /* contact page */
    .location1 iframe, .location2 iframe {
        max-width: 600px;
    }
}