@media screen and (min-width: 700px) {
    nav {
        display: flex;
        justify-content: center;
        font-size: 40px;
        width: 100%;
    }
    nav ul {
		display: flex;
	}
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
    header {
        font-size: 1rem;
    }
    /* reservations */

    form label, input, label select, label textarea {
        max-width: 18rem;
    }
    /* contact page */
    .location1 iframe, .location2 iframe {
        max-width: 600px;
    }
}