@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap');

header {
    height: 250px;
    display: flex;
    font-family: Noto serif;
    background-color: hotpink;
    gap: 50px;
    /* align-items: center; */
    padding: 20px;

}
nav {
    font-family: Noto serif;
    /* display: flex; */
    gap: 245px;
    background-color: black;
    text-align: center;
    
    
}
nav a {
    text-decoration: none;
    font-family: Noto serif;
    color: white
    
}
main {
    width: 500px;
    display: grid;
    align-items: center;
    
}
.card {
    display: grid;
    align-items: center;
}
.card li{
    
    list-style-type: none;
}
h3 {
    width: 100%;
    font-family: Noto serif;
    background-color: hotpink;
}
footer {
    text-align: center;
    background-color: hotpink;
}

nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}
